/** Mixins **/
/** End mixins **/
.html,
body,
.page {
  background-color: #f6f8fA;
}
.container {
  margin: 0 auto;
  height: 100%;
}
.container.container--admin {
  width: 1238px;
}
.header .header__logo.header__logo--mobile {
  display: none;
}
.header .header__top {
  padding: 15px 0;
}
.sidebar {
  padding: 16px 0;
}
.sidebar .logo {
  margin-bottom: 29px;
  padding: 0 22px;
}
.sidebar .logo .logo__image {
  width: 119px;
  height: 53px;
  margin: 0;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 999;
}
.nav.nav_orientation_vertical .nav__item {
  padding: 0 22px;
  margin-bottom: 20px;
}
.nav.nav_orientation_vertical .nav__item .nav__item-link {
  font-weight: 300;
  color: #737373;
}
.nav.nav_orientation_vertical .nav__item_state_active .nav__item-link {
  font-weight: 600;
}
.nav.nav_orientation_vertical .nav__item_state_active:before {
  box-shadow: 1px 0px 5px rgba(255, 0, 0, 0.25);
}
.badge {
  display: inline-block;
  position: relative;
  bottom: 14px;
  font-size: 6px;
  padding: 4px 5px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}
.badge.badge--green {
  color: #fff;
  background-color: #40c220;
}
.dropdown-menu {
  margin-left: 16px;
}
.dropdown-menu .dropdown-menu__label {
  padding: 10px 7px 10px 0;
}
.dropdown-menu .dropdown-menu__label svg {
  display: none;
}
.dropdown-menu .dropdown-menu__label:after {
  content: '';
  width: 7px;
  height: 4px;
  position: absolute;
  right: 0;
  top: calc(50% - 4px/2);
  background-image: url('../images/arrow-down.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.accordion:after {
  content: '';
  width: 15px;
  height: 7px;
  position: absolute;
  right: 0;
  top: calc(50% - 7px/2);
  background-image: url('../images/content-box-dropdown.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 36px;
  right: 22px;
  transform: rotate(180deg);
}
.accordion.collapsed:after {
  transform: rotate(0deg);
}
.accordion.collapsed .accordion__content {
  height: 0;
}
.content {
  padding: 25px 0 25px 19px;
}
.content .content-box__heading {
  line-height: 35px;
  text-transform: uppercase;
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 17px;
}
.content .content-box__heading .heading-wrapper {
  vertical-align: middle;
}
.content .content-box__heading .content-box__btn,
.content .content-box__heading .tab-switcher {
  float: right;
}
.content .content-box {
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-bottom: 20px;
}
.content .content-box .content-box__inner {
  padding: 30px 0;
  margin-bottom: 0;
}
.content .content-box .content-box__heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: none;
  padding: 0 26px;
  margin: 0;
}
.content .content-box .content-box__content {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 17px;
  overflow: hidden;
}
.content .content-box .content-box__content .content-box__content-wrapper {
  padding: 18px 26px;
}
.content .content-box .content-box__content .content-box__content-category {
  font-size: 14px;
  font-weight: bold;
  color: #99acba;
  margin-bottom: 13px;
}
.content .content-box.content-box--accordion.collapsed .accordion__content {
  border-top: 0;
  margin-top: 0;
}
.content .content-box__search {
  display: inline-block;
  width: 380px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.content .content-box__search.content-box__search--heading-search {
  vertical-align: middle;
  margin-left: 30px;
}
.content .content-box__search input {
  width: 95%;
  height: 15px;
  font-size: 12px;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
}
.content .content-box__search:after {
  content: '';
  width: 13px;
  height: 13px;
  position: absolute;
  right: 0;
  top: calc(50% - 13px/2);
  background-image: url('../images/magnifying-glass.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content .content-box__btn {
  font-size: 14px;
  line-height: 14px;
  padding: 10px 41.5px;
  height: 35px;
}
.assets {
  padding: 16px 0;
}
.assets .assets__heading {
  display: grid;
  grid-template-columns: 185px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-items: center;
  font-size: 12px;
  padding-left: 16px;
  margin-bottom: 14px;
}
.assets .assets__heading span {
  text-transform: uppercase;
  line-height: normal;
}
.assets .asset {
  background-color: #fff;
}
.asset {
  display: grid;
  grid-template-columns: 54px 1fr;
  grid-template-rows: 60px;
  grid-gap: 0;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
}
.asset .asset__icon {
  text-align: center;
  line-height: 60px;
}
.asset .asset__icon img {
  height: 34px;
  vertical-align: middle;
}
.asset .asset__content {
  display: grid;
  grid-template-columns: 129px 1fr;
  grid-template-rows: 60px;
  grid-gap: 0;
  align-items: center;
  padding: 0 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.asset .asset__content .asset__name {
  font-size: 14px;
  font-weight: bold;
}
.asset .asset__content .asset__number {
  font-size: 16px;
  font-weight: bold;
}
.asset .asset__content .asset__number.asset__number--green {
  color: #40c220;
}
.tab-switcher {
  display: inline-block;
  border: 1px solid #ff360e;
  border-radius: 3px;
}
.tab-switcher .tab-switcher__tabs {
  display: flex;
  padding: 0;
  margin: 0;
}
.tab-switcher .tab-switcher__tabs .tab-switcher__tab {
  width: 140px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: normal;
  text-transform: none;
  color: #ff360e;
  padding-top: 9px;
  padding-bottom: 7px;
}
.tab-switcher .tab-switcher__tabs .tab-switcher__tab:not(:last-child) {
  border-right: 1px solid #ff360e;
}
.tab-switcher .tab-switcher__tabs .tab-switcher__tab.active {
  color: #fff;
  background-color: #ff360e;
}
.records {
  display: grid;
  grid-template-columns: repeat(2, 477px);
  grid-template-rows: 1fr;
  grid-gap: 20px;
  align-items: center;
}
.records .record {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.records .record .record__title {
  font-size: 12px;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 9px;
}
.records .record .record__content {
  min-height: 229px;
  flex-grow: 1;
  border: 1px dashed #A9A9A9;
  border-radius: 3px;
  padding: 37px 61px 29px 61px;
}
.records .record .record__content .record__email-date {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 28px;
  overflow: auto;
}
.records .record .record__content .record__email-date span {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.records .record .record__content .record__email-date .record__email {
  float: left;
}
.records .record .record__content .record__email-date .record__date {
  float: right;
}
.records .record .record__content .record__main-info {
  display: grid;
  grid-template-columns: repeat(2, 170px);
  grid-template-rows: 1fr;
  grid-gap: 20px 10px;
  align-items: stretch;
  margin-bottom: 30px;
}
.records .record .record__content .record__main-info .record__modify-data .record__modify-data-title {
  font-size: 12px;
  font-weight: 200;
  color: #1a1a1a;
}
.records .record .record__content .record__main-info .record__modify-data .record__modify-data-value {
  position: relative;
}
.records .record .record__content .record__main-info .record__modify-data .record__modify-data-value input,
.records .record .record__content .record__main-info .record__modify-data .record__modify-data-value select {
  width: 100%;
  height: 25px;
  font-size: 12px;
  font-weight: 200;
  color: #99acba;
  line-height: normal;
  background-color: transparent;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 20px 0 9px;
  outline: none;
}
.records .record .record__content .record__main-info .record__modify-data .record__modify-data-value .record__modify-data-value-remove {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  right: 0;
  top: calc(50% - 5px/2);
  background-image: url('../images/remove-record-modify-value.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  right: 10px;
  cursor: pointer;
}
.records .record .record__content .record__main-info .record__modify-data .record__modify-data-value .record__btn {
  width: 48%;
  font-size: 12px;
  padding: 7px 0;
}
.records .record .record__content .record__main-info .record__modify-data.record__modify-data--type_select {
  grid-column-start: 1;
  grid-column-end: 3;
}
.records .record .record__content .record__main-info .record__modify-data.record__modify-data--type_select .record__modify-data-value {
  position: relative;
}
.records .record .record__content .record__main-info .record__modify-data.record__modify-data--type_select .record__modify-data-value:after {
  content: '';
  width: 5.7px;
  height: 2.88px;
  position: absolute;
  right: 0;
  top: calc(50% - 2.88px/2);
  background-image: url('../images/select-dropdown.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  right: 10px;
}
.records .record .record__content .record__main-info .record__modify-data.record__modify-data--type_tags {
  grid-column-start: 1;
  grid-column-end: 3;
}
.records .record .record__content .record__buttons {
  text-align: center;
}
.records .record .record__content .record__buttons .record__btn {
  min-width: 120px;
  font-size: 14px;
  padding: 7px 14px;
  margin-right: 5px;
}
.records .record .record__content .record__buttons.record__buttons--one {
  text-align: left;
}
.records .record .record__content .record__btn {
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  line-height: normal;
  border-radius: 3px;
  outline: none;
}
.records .record .record__content .record__btn.record__btn--decline,
.records .record .record__content .record__btn.record__btn--publish {
  color: #40c220;
  border-color: #40c220;
  background-color: transparent;
}
.records .record .record__content .record__btn.record__btn--accept {
  color: #fff;
  border-color: #40c220;
  background-color: #40c220;
}
.records .record .record__content .record__btn.record__btn--open {
  color: #fff;
  border-color: #919191;
  background-color: #919191;
}
.records .record .record__content .record__btn.record__btn--replace {
  color: #919191;
  border-color: #919191;
  background-color: transparent;
}
.records .record .record__content .record__btn.record__btn--remove-from-publication {
  color: #ff360e;
  border-color: #ff360e;
  background-color: transparent;
}
.tags .tag {
  margin-bottom: 10px;
}
.tag {
  position: relative;
  display: inline-block;
  line-height: normal;
  background-color: rgba(247, 247, 247, 0.6);
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 7px 34px 7px 10px;
}
.tag .tag__value {
  font-size: 12px;
  line-height: normal;
  color: #99acba;
}
.tag .tag__remove {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  right: 0;
  top: calc(50% - 5px/2);
  background-image: url('../images/remove-record-modify-value.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  right: 10px;
}
@media screen and (max-width: 1268px) {
  .container.container--admin {
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  .header__logo.header__logo--mobile {
    display: block;
  }
  .header__logo.header__logo--mobile img {
    height: 40px;
  }
  .sidebar {
    width: 201px;
    height: 100% !important;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    transform: translateX(100%);
    padding-top: 98px;
    transition: all 0.3s ease-in-out;
  }
  .sidebar .logo {
    display: none;
  }
  .sidebar.active {
    display: block;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }
  .sidebar.active + .overlay {
    display: block;
    opacity: 1;
  }
  nav.nav_orientation_vertical .nav__item_state_active:before {
    left: initial;
    right: 0;
  }
  .main {
    grid-template-columns: 100%;
  }
  .content .content-box__search {
    width: 325px;
  }
  .header__top .nav-toggle-button {
    display: block;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -12px;
  }
  .header__top .dropdown-menu {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .sidebar {
    width: 165px;
  }
  .nav.nav_orientation_vertical .nav__item {
    padding: 0 21px;
  }
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .content .content-box__heading .content-box__search {
    margin-top: 23px;
  }
  .content .content-box__heading .content-box__btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .content .content-box__search {
    display: block;
    width: 100%;
  }
  .content .content-box__search.content-box__search--heading-search {
    margin-left: 0;
  }
  .assets .assets__heading {
    display: grid;
    grid-template-columns: 165px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    align-items: center;
  }
  .asset .asset__content {
    display: grid;
    grid-template-columns: 109px 1fr;
    grid-template-rows: 60px;
    grid-gap: 0;
    align-items: center;
  }
}
