/** Fonts **/

@font-face {
    font-family: 'Graphik LC Web Medium';
    src: url('../fonts/graphik/GraphikLCWebMedium.ttf') format('truetype');
    font-style: normal;
}

/** End fonts **/

/** Mixins **/

.after-image(@width, @height, @url) {
    content: '';
    width: @width;
    height: @height;
    position: absolute;
    right: 0;
    top: ~"calc(50% - @{height}/2)";
    background-image: url(@url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gridable(@columns, @rows: 1fr, @alignItems: center, @gridGap: 0) {
    display: grid;
    grid-template-columns: @columns;
    grid-template-rows: @rows;
    grid-gap: @gridGap;
    align-items: @alignItems;
}

/** End mixins **/

.html, body, .page {
    height: auto;
    background-color: #f6f8fA;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container {
    margin: 0 auto;
    height: 100%;

    &.container--admin {
        width: 1238px;
    }
}

.header {
    .header__logo {
        &.header__logo--mobile {
            display: none;     
        }
    }
    
    .header__top {
        padding: 15px 0;
    }
}

.sidebar {
    height: 100vh;
    padding: 16px 0;

    .logo {
        margin-bottom: 29px;
        padding: 0 22px;

        .logo__image {
            width: 119px;
            height: 53px;
            margin: 0;
        }
    }
}

.main {
    grid-template-columns: 200px 1038px;
    height: 100vh;
    overflow-y: hidden;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    z-index: 999;
}

.nav {
    &.nav_orientation_vertical {
        .nav__item {
            padding: 0 22px;
            margin-bottom: 20px;

            .nav__item-link {
                font-weight: 300;
                color: #737373;
            }
        }

        .nav__item_state_active {
            .nav__item-link {
                font-weight: 600;
            }

            &:before {
                box-shadow: 1px 0px 5px rgba(255, 0, 0, 0.25);
            }
        }
    }
}

.badge {
    display: inline-block;
    min-width: 15px;
    position: relative;
    bottom: 14px;
    text-align: center;
    font-size: 6px;
    padding: 4px 5px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    border-radius: 100px;

    &.badge--green {
        color: #fff;
        background-color: #40c220;
    }
}

.dropdown-menu {
    margin-left: 16px;

    .dropdown-menu__label {
        padding: 10px 7px 10px 0;

        svg {
            display: none;
        }

        &:after {
            .after-image(7px, 4px, '../images/arrow-down.svg');
        }
    }
}

.accordion {
    position: relative;

    .accordion__content {
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    &:after {
        .after-image(15px, 7px, '../images/content-box-dropdown.svg');

        top: 36px;
        right: 22px;
        transform: rotate(180deg);
    }

    &.collapsed {
        &:after {
            transform: rotate(0deg);
        }

        .accordion__content {
            height: 0;
            overflow: hidden;
            border-top: 0;
        }
    }
}

.content {
    padding: 25px 0 25px 19px;
    overflow-x: visible;
    overflow-y: scroll;

    .content-box__heading {
        font-family: 'Graphik LC Web Medium', sans-serif;
        font-weight: 400;
        line-height: 35px;
        text-transform: uppercase;
        border-bottom: 0;
        padding-bottom: 0;

        .heading-wrapper {
            display: inline-block;
            vertical-align: middle;
        }

        .content-box__btn,
        .tab-switcher {
            float: right;
        }
    }

    .content-box {
        box-shadow: 0 9px 20px rgba(0, 0, 0, 0.1);
        padding: 0;
        margin-bottom: 20px;

        .content-box__inner {
            padding: 30px 0;
            margin-bottom: 0;
        }
        
        .content-box__heading {
            font-size: 14px;
            line-height: 16px;
            text-transform: none;
            padding: 0 26px;
            margin: 0 0 17px 0;
        }

        .content-box__content {
            .content-box__content-wrapper {
                padding: 18px 26px;
            }

            .content-box__content-category {
                font-size: 14px;
                font-weight: bold;
                color: #99acba;
                margin-bottom: 13px;
            }
        }

        &.content-box--accordion {        
            &.collapsed {        
                .accordion__content {
                    border-top: 0;
                    margin-top: 0;
                }
            }
        }

        &.collapsed {
            .content-box__heading {
                margin: 0;
            }
        }
    }

    .content-box__search {
        display: inline-block;
        width: 380px;
        position: relative;
        border-bottom: 1px solid rgba(0,0,0,0.5);

        &.content-box__search--heading-search {
            vertical-align: middle;
            margin-left: 30px;
        }

        input {
            width: 95%;
            height: 15px;
            font-size: 12px;
            background-color: transparent;
            border: 0;
            padding: 0;
            outline: none;
        }

        &:after {
            .after-image(13px, 13px, '../images/magnifying-glass.svg');
        }
    }

    .content-box__btn {
        font-size: 14px;
        line-height: 14px;
        padding: 10px 41.5px;
        height: 35px;
    }
}

.assets {
    padding: 16px 0;

    .assets__heading {
        .gridable(185px 1fr);
        font-size: 12px;
        padding-left: 16px;
        margin-bottom: 14px;

        span {
            display: inline-block;
            text-transform: uppercase;
            line-height: normal;
        }   
    }

    .asset {
        background-color: #fff;
    }
}

.asset {
    .gridable(54px 1fr, 60px);
    width: 100%;
    height: 60px;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;

    .badge {
        position: absolute;
        min-width: 30px;
        top: -12px;
        bottom: auto;
        left: -12px;
        font-size: 10px;
        line-height: 10px;
        padding: 10px 5px;
        z-index: 1;
    }
    
    .asset__icon {
        text-align: center;
        line-height: 60px;

        img {
            height: 34px;
            vertical-align: middle;
        }
    }

    .asset__content {
        .gridable(129px 1fr, 60px);
        padding: 0 15px;
        border-left: 1px solid rgba(0,0,0,0.2);

        .asset__name {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            color: #737373;
            word-break: break-word;

            p {
                max-width: 62%;
                margin: 0;
                line-height: normal;
            }
        }

        .asset__number {
            font-family: 'Graphik LC Web Medium', sans-serif;
            font-size: 16px;

            &.asset__number--green {
                color: #40c220;
            }
        }
    }

    &:after  {
        top: 27px;
    }
}

.tab-switcher {
    display: inline-block;
    border: 1px solid #ff360e;
    border-radius: 3px;

    .tab-switcher__tabs {
        display: flex;
        padding: 0;
        margin: 0;

        .tab-switcher__tab {
            width: 140px;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            line-height: normal;
            text-transform: none;
            color: #ff360e;
            padding-top: 9px;
            padding-bottom: 7px;
            cursor: pointer;

            &:not(:last-child) {
                border-right: 1px solid #ff360e;
            }

            &.active {
                color: #fff;
                background-color: #ff360e;
            }

            &[data-target="characteristics"] {
                width: 159px;
            }
        }
    }
}

[data-role="tab-content"] {
    display: none;
}

.records {
    .gridable(repeat(2,477px), 1fr, center, 20px);

    .record {
        display: flex;
        flex-direction: column;
        height: 100%;

        .record__title {
            font-size: 12px;
            font-weight: 200;
            line-height: normal;
            margin-bottom: 9px;
        }

        .record__content {
            min-height: 229px;
            flex-grow: 1;
            border: 1px dashed #A9A9A9;
            border-radius: 3px;
            padding: 37px 0 29px 0;

            .record__content-wrapper {
                max-width: 355px;
                margin: 0 auto;
            }

            .record__email-date {
                border-bottom: 1px solid rgba(0,0,0,0.3);
                margin-bottom: 28px;
                overflow: auto;

                span {
                    display: inline-block;
                    font-family: 'Graphik LC Web Medium', sans-serif;
                    font-size: 12px;
                }

                .record__email {
                    float: left;
                }

                .record__date {
                    float: right;
                }
            }

            .record__main-info {
                .gridable(repeat(2, 170px), 1fr, stretch, 20px 10px);
                margin-bottom: 30px;

                .record__modify-data {
                    .record__modify-data-title {
                        font-size: 12px;
                        font-weight: 200;
                        color: #1a1a1a;
                    }

                    .record__modify-data-value {
                        position: relative;

                        input, select {
                            width: 100%;
                            height: 25px;
                            font-size: 12px;
                            font-weight: 200;
                            color: #99acba;
                            line-height: normal;
                            background-color: transparent;
                            border: 0.5px solid rgba(0,0,0,0.1);
                            border-radius: 3px;
                            padding: 0 27px 0 9px;
                            outline: none;
                            white-space: nowrap;
                            overflow: hidden;
                        }

                        .record__modify-data-value-remove {
                            .after-image(5px, 5px, '../images/remove-record-modify-value.svg');

                            right: 10px;
                            cursor: pointer;
                        }

                        .btn {
                            width: 48%;
                            height: 25px;
                            font-size: 12px;
                            line-height: 14px;
                            padding: 5px 0;
                        }

                        // &:after {
                        //     content: '';
                        //     position: absolute;
                        //     right: 27px;
                        //     top: 10%;
                        //     width: 26px;
                        //     height: 80%;
                        //     background: linear-gradient(270deg, #fff 25%, rgba(255, 255, 255, 0) 86%);
                        // }
                    }

                    &.record__modify-data--full-width {
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }

                    &.record__modify-data--type_select {
                        .record__modify-data-value {
                            position: relative;

                            &:after {
                                .after-image(5.7px, 2.88px, '../images/select-dropdown.svg');

                                right: 10px;
                            }
                        }
                    }

                    &.record__modify-data--type_tags {
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                }
            }

            .record__buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .btn {
                    min-width: 120px;
                    font-size: 14px;
                    padding: 7px 14px;

                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                }

                &.record__buttons--one {
                    text-align: left;
                }
            }
        }
    }
}

.btn {
    height: 35px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    line-height: normal;
    border-radius: 3px;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;

    &:active, &:focus {
        box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.3s ease-in-out;
    }

    &.btn--green-inner {
        color: #40c220;
        border-color: #40c220;
        background-color: transparent;
    }

    &.btn--green-outer {
        color: #fff;
        border-color: #40c220;
        background-color:#40c220;
    }

    &.btn--gray-outer {
        color: #fff;
        border-color: #919191;
        background-color: #919191;
    }

    &.btn--gray-inner {
        color: #919191;
        border-color: #919191;
        background-color: transparent;
    }

    &.btn--red-inner {
        color: #ff360e;
        border-color: #ff360e;
        background-color: transparent;
    }

    &.btn--red-outer {
        color: #fff;
        border-color: #ff360e;
        background-color: #ff360e;
    }
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    .tag {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.tag {
    position: relative;
    display: inline-block;
    max-width: 79px;
    line-height: normal;
    background-color: rgba(247,247,247,0.6);
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 7px 34px 7px 10px;

    .tag__value {
        font-size: 12px;
        line-height: normal;
        color: #99acba;
    }

    .tag__remove {
        .after-image(5px, 5px, '../images/remove-record-modify-value.svg');

        right: 10px;
        cursor: pointer;
    }
}

.assets--characteristics {
    .assets__heading {
        .gridable(388px 211px 297px 1fr);

        span:last-child {
            text-align: right;
        }
    }

    .asset {
        grid-template-columns: 100%;
        height: auto;
        min-height: 60px;
        margin-bottom: 20px;

        .asset__content {
            .gridable(388px 211px 297px 1fr);
            border: 0;

            .asset__name {
                position: relative;
                color: rgba(26, 26, 26, 0.7);

                .btn--move-to-trash {
                    position: relative;
                    width: 14px;
                    height: 16px;
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                    margin-right: 10px;
                    box-shadow: none;
                    vertical-align: middle;
                }

                .btn--move-to-trash:before {
                    .after-image(13px, 16px, '../images/trash.svg');

                    top: -2px;
                    left: 0;
                    cursor: pointer;
                }
            }
        }

        &.in-trash {
            .badge {
                background-color: #9fe98d;
            }

            .asset__name{
                color: rgba(26, 26, 26, 0.3);

                .btn--move-to-trash:before {
                    .after-image(14px, 11px, '../images/previous.svg');
        
                    top: 0;
                }
            }

            .asset__number {
                color: rgba(26, 26, 26, 0.3);

                &.asset__number--green {
                    color: rgba(37, 185, 0, 0.3);
                }
            }

            &.accordion:after {
                opacity: 0.2;
            }
        }

        .accordion__content {
            padding: 0 15px;
        }

        .assets--subassets {
            padding: 0;

            .asset {
                height: 65px;
                grid-template-rows: 100%;
                box-shadow: none;
                border-radius: 0;
                margin: 0;

                .asset__content {
                    padding: 0;
                }
                
                .asset__name {
                    font-family: inherit;
                    font-weight: 400;
                    color: #1a1a1a;
                    
                    .btn--move-to-trash:before {
                        .after-image(9px, 11px, '../images/trash.svg');

                        top: 2px;
                    }
                }

                .asset__number {
                    font-family: inherit;
                    font-weight: 400;
                }

                &:not(:last-child) {
                    border-bottom: 0.5px  dashed rgba(0,0,0,0.2);
                }
            }
        }
    }

    + .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        .btn--add-category {
            width: 201px;
            margin-right: 10px;
        }

        .btn--add-characteristic {
            width: 220px;
        }

        .btn--save {
            width: 120px;
        }
    }
}

.ios7-switch-wrapper {
    font-size: 16px;

    .ios7-switch-wrapper__label {
        font-size: 12px;

        &:not(.active) {
            color: rgba(26, 26, 26, 0.5);
        }
    }
}

.ios7-switch {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

.ios7-switch input {
    opacity: 0;
    position: absolute;
}

.ios7-switch input + span {
    position: relative;
    display: inline-block;
    width: 1.65em;
    height: 1em;
    background: white;
    box-shadow: inset 0 0 0 0.0625em #e9e9e9;
    border-radius: 0.5em;
    vertical-align: -0.15em;
    transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

.ios7-switch:active input + span,
.ios7-switch input + span:active {
    box-shadow: inset 0 0 0 0.73em #e9e9e9;
}

.ios7-switch input + span:after {
    position: absolute;
    display: block;
    content: '';
    width: 0.875em;
    height: 0.875em;
    border-radius: 0.4375em;
    top: 0.0625em;
    left: 0.0625em;
    background: white;
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
                0 0 0.05em rgba(0,0,0,0.05),
                0 0.1em 0.2em rgba(0,0,0,0.2);
    transition: all 0.25s ease-out;
}

.ios7-switch:active input + span:after,
.ios7-switch input + span:active:after {
    width: 1.15em;
}

.ios7-switch input:checked + span {
    box-shadow: inset 0 0 0 0.73em #4cd964;
}

.ios7-switch input:checked + span:after {
    left: 0.7125em;
}

.ios7-switch:active input:checked + span:after,
.ios7-switch input:checked + span:active:after {
    left: 0.4375em;
}

/* accessibility styles */
.ios7-switch input:focus + span:after {
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.15),
                0 0 0.05em rgba(0,0,0,0.08),
                0 0.1em 0.2em rgba(0,0,0,0.3);
    background: #fff;
}

.ios7-switch input:focus + span {
    box-shadow: inset 0 0 0 0.0625em #dadada;
}

.ios7-switch input:focus:checked + span {
    box-shadow: inset 0 0 0 0.73em #33be4b;
}

/* reset accessibility style on hover */
.ios7-switch:hover input:focus + span:after {
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
                0 0 0.05em rgba(0,0,0,0.05),
                0 0.1em 0.2em rgba(0,0,0,0.2);
    background: #fff;
}

.ios7-switch:hover input:focus + span {
    box-shadow: inset 0 0 0 0.0625em #e9e9e9;
}

.ios7-switch:hover input:focus:checked + span {
    box-shadow: inset 0 0 0 0.73em #4cd964;
}

@media screen and (max-width: 1268px) {
    .container {
        &.container--admin {
            width: 100%;
        }
    }

    .header .container {
        padding-left: 19px;
        padding-right: 19px;
    }

    .content {
        padding: 25px 19px;
    }

    .main {
        grid-template-columns: 200px auto;
    }
}

@media screen and (max-width: 960px) {
    .content {
        .content-box__search {
            width: 325px;
        }

        .content-box {
            .content-box__heading {
                padding-left: 42px;
                padding-right: 42px;
            }

            .content-box__content {
                .content-box__content-wrapper {
                    padding-left: 42px;
                    padding-right: 42px;
                }
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .header .header__logo {
        &.header__logo--mobile {
            display: block;

            img {
                height: 40px;
            }
        }
    }

    .sidebar {
        width: 201px;
        height: 100% !important;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        transform: translateX(100%);
        padding-top: 98px;
        transition: all 0.3s ease-in-out;

        .logo {
            display: none;
        }

        &.active {
            display: block;
            transform: translateX(0);
            transition: all 0.3s ease-in-out;

            +.overlay {
                display: block;
                opacity: 1;
            }
        }
    }

    nav {
        &.nav_orientation_vertical {    
            .nav__item_state_active:before {
                left: initial;
                right: 0;
            }
        }
    }

    .main {
        grid-template-columns: 100%;
    }

    .accordion {
        &:after {
            right: 21px;
        }
    }

    .header__top {
        .nav-toggle-button {
            display: block;
            position: absolute;
            top: 50%;
            right: 12px;
            margin-top: -12px;
        }

        .dropdown-menu {
            display: none;
        }
    }

    .records {
        grid-template-columns: 100%;
    }

    .assets--characteristics {
        .assets__heading {
            grid-template-columns: 256px 176px 170px 1fr;
        }

        .asset {
            .asset__content {
                grid-template-columns: 256px 176px 170px 1fr;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header__top {
        position: static;
    }
}

@media screen and (max-width: 640px) {
    .content {
        .content-box__heading {
            .content-box__btn {
                float: none;
                margin-top: 15px;
            }
        }
    }

    .assets--characteristics .assets__heading .ios7-switch-wrapper {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding-left: 10px;
        padding-right: 10px;

        .content-box__heading {
            margin-bottom: 19px;

            .content-box__search {
                margin-top: 23px;
            }

            .content-box__btn {
                position: absolute;
                right: 0;
                top: 0;
                margin-top: 0;
            }

            .heading-wrapper {
                margin-bottom: 21px;
            }

            .tab-switcher {
                float: none;
            }
        }

        .content-box__search {
            display: block;
            width: 100%;

            &.content-box__search--heading-search {
                margin-left: 0;
            }
        }

        .content-box {
            .content-box__heading {
                padding-left: 15px;
                padding-right: 15px;
            }

            .content-box__content {
                .content-box__content-wrapper {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }

    .sidebar {
        width: 165px;
    }

    .nav {
        &.nav_orientation_vertical {
            .nav__item {
                padding: 0 21px;
            }
        }
    }

    .assets {
        .assets__heading {
            .gridable(165px 1fr);
        }
    }

    .asset {
        .asset__content {
            .gridable(109px 1fr, 60px);
        }

        .badge {
            top: -15px;
            left: -6px;
        }
    }

    .records {
        .record {
            .record__content {
                padding-left: 10px;
                padding-right: 10px;

                .record__content-wrapper {
                    max-width: none;
                }

                .record__main-info {
                    grid-template-columns: 100%;

                    .record__modify-data.record__modify-data--full-width {
                        grid-column-end: 2;
                    }
                }

                .record__buttons {
                    .record__btn {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .assets--characteristics {
        .assets__heading {
            grid-template-columns: 122px 80px 1fr;
            grid-column-gap: 7px;
            font-size: 7px;
            line-height: 10px;

            span:last-child {
                display: none;
            }
        }

        .asset {
            margin-bottom: 27px;

            .asset__content {
                grid-template-columns: 122px 80px 1fr;
                grid-column-gap: 7px;
            }
        }

        + .buttons {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .buttons__wrapper {
                padding-bottom: 21px;
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
            }

            .btn {
                width: 145px;
                margin: 0;
                font-size: 14px;
                padding-left: 0;
                padding-right: 0;
            }

            .btn--save {
                width: 120px;
                margin-top: 21px;
            }
        }
    }

    .accordion {
        padding-bottom: 20px;

        &:after {
            box-shadow: 0 0 7px rgba(255, 54, 14, 0.2);
            border-radius: 50%;
            background-color: #fff;
            background-size: 15px;
            width: 33px;
            height: 33px;
            top: auto;
            bottom: -10px;
            right: ~"calc(50% - 16.5px)";
        }

        &.collapsed {
            height: 80px;
        }
    }
}

@media screen and (max-width: 320px) {
    .records .record .record__content .record__buttons {
        justify-content: space-between;
    }
}