/** Mixins **/

.after-image(@width, @height, @url) {
    content: '';
    width: @width;
    height: @height;
    position: absolute;
    right: 0;
    top: ~"calc(50% - @{height}/2)";
    background-image: url(@url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gridable(@columns, @rows: 1fr, @alignItems: center, @gridGap: 0) {
    display: grid;
    grid-template-columns: @columns;
    grid-template-rows: @rows;
    grid-gap: @gridGap;
    align-items: @alignItems;
}

/** End mixins **/

.html, body, .page {
    background-color: #f6f8fA;
}

.container {
    margin: 0 auto;
    height: 100%;

    &.container--admin {
        width: 1238px;
    }
}

.header {
    .header__logo {
        &.header__logo--mobile {
            display: none;       
        }
    }
    
    .header__top {
        padding: 15px 0;
    }
}

.sidebar {
    padding: 16px 0;

    .logo {
        margin-bottom: 29px;
        padding: 0 22px;

        .logo__image {
            width: 119px;
            height: 53px;
            margin: 0;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    z-index: 999;
}

.nav {
    &.nav_orientation_vertical {
        .nav__item {
            padding: 0 22px;
            margin-bottom: 20px;

            .nav__item-link {
                font-weight: 300;
                color: #737373;
            }
        }

        .nav__item_state_active {
            .nav__item-link {
                font-weight: 600;
            }

            &:before {
                box-shadow: 1px 0px 5px rgba(255, 0, 0, 0.25);
            }
        }
    }
}

.badge {
    display: inline-block;
    position: relative;
    bottom: 14px;
    font-size: 6px;
    padding: 4px 5px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    border-radius: 100px;

    &.badge--green {
        color: #fff;
        background-color: #40c220;
    }
}

.dropdown-menu {
    margin-left: 16px;

    .dropdown-menu__label {
        padding: 10px 7px 10px 0;

        svg {
            display: none;
        }

        &:after {
            .after-image(7px, 4px, '../images/arrow-down.svg');
        }
    }
}

.accordion {
    &:after {
        .after-image(15px, 7px, '../images/content-box-dropdown.svg');

        top: 36px;
        right: 22px;
        transform: rotate(180deg);
    }

    &.collapsed {
        &:after {
            transform: rotate(0deg);
        }

        .accordion__content {
            height: 0;
        }
    }
}

.content {
    padding: 25px 0 25px 19px;

    .content-box__heading {
        line-height: 35px;
        text-transform: uppercase;
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 17px;

        .heading-wrapper {
            vertical-align: middle;
        }

        .content-box__btn,
        .tab-switcher {
            float: right;
        }
    }

    .content-box {
        box-shadow: 0 9px 20px rgba(0, 0, 0, 0.1);
        padding: 0;
        margin-bottom: 20px;

        .content-box__inner {
            padding: 30px 0;
            margin-bottom: 0;
        }
        
        .content-box__heading {
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            text-transform: none;
            padding: 0 26px;
            margin: 0;
        }

        .content-box__content {
            border-top: 1px solid rgba(0,0,0,0.2);
            margin-top: 17px;
            overflow: hidden;

            .content-box__content-wrapper {
                padding: 18px 26px;
            }

            .content-box__content-category {
                font-size: 14px;
                font-weight: bold;
                color: #99acba;
                margin-bottom: 13px;
            }
        }

        &.content-box--accordion {        
            &.collapsed {        
                .accordion__content {
                    border-top: 0;
                    margin-top: 0;
                }
            }
        }
    }

    .content-box__search {
        display: inline-block;
        width: 380px;
        position: relative;
        border-bottom: 1px solid rgba(0,0,0,0.5);

        &.content-box__search--heading-search {
            vertical-align: middle;
            margin-left: 30px;
        }

        input {
            width: 95%;
            height: 15px;
            font-size: 12px;
            background-color: transparent;
            border: 0;
            padding: 0;
            outline: none;
        }

        &:after {
            .after-image(13px, 13px, '../images/magnifying-glass.svg');
        }
    }

    .content-box__btn {
        font-size: 14px;
        line-height: 14px;
        padding: 10px 41.5px;
        height: 35px;
    }
}

.assets {
    padding: 16px 0;

    .assets__heading {
        .gridable(185px 1fr);
        font-size: 12px;
        padding-left: 16px;
        margin-bottom: 14px;

        span {
            text-transform: uppercase;
            line-height: normal;
        }   
    }

    .asset {
        background-color: #fff;
    }
}

.asset {
    .gridable(54px 1fr, 60px);
    width: 100%;
    height: 60px;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    
    .asset__icon {
        text-align: center;
        line-height: 60px;

        img {
            height: 34px;
            vertical-align: middle;
        }
    }

    .asset__content {
        .gridable(129px 1fr, 60px);
        padding: 0 15px;
        border-left: 1px solid rgba(0,0,0,0.2);

        .asset__name {
            font-size: 14px;
            font-weight: bold;
        }

        .asset__number {
            font-size: 16px;
            font-weight: bold;

            &.asset__number--green {
                color: #40c220;
            }
        }
    }
}

.tab-switcher {
    display: inline-block;
    border: 1px solid #ff360e;
    border-radius: 3px;

    .tab-switcher__tabs {
        display: flex;
        padding: 0;
        margin: 0;

        .tab-switcher__tab {
            width: 140px;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            line-height: normal;
            text-transform: none;
            color: #ff360e;
            padding-top: 9px;
            padding-bottom: 7px;

            &:not(:last-child) {
                border-right: 1px solid #ff360e;
            }

            &.active {
                color: #fff;
                background-color: #ff360e;
            }
        }
    }
}

.records {
    .gridable(repeat(2,477px), 1fr, center, 20px);

    .record {
        display: flex;
        flex-direction: column;
        height: 100%;

        .record__title {
            font-size: 12px;
            font-weight: 200;
            line-height: normal;
            margin-bottom: 9px;
        }

        .record__content {
            min-height: 229px;
            flex-grow: 1;
            border: 1px dashed #A9A9A9;
            border-radius: 3px;
            padding: 37px 61px 29px 61px;

            .record__email-date {
                border-bottom: 1px solid rgba(0,0,0,0.3);
                margin-bottom: 28px;
                overflow: auto;

                span {
                    display: inline-block;
                    font-size: 12px;
                    font-weight: bold;
                }

                .record__email {
                    float: left;
                }

                .record__date {
                    float: right;
                }
            }

            .record__main-info {
                .gridable(repeat(2, 170px), 1fr, stretch, 20px 10px);
                margin-bottom: 30px;

                .record__modify-data {
                    .record__modify-data-title {
                        font-size: 12px;
                        font-weight: 200;
                        color: #1a1a1a;
                    }

                    .record__modify-data-value {
                        position: relative;

                        input, select {
                            width: 100%;
                            height: 25px;
                            font-size: 12px;
                            font-weight: 200;
                            color: #99acba;
                            line-height: normal;
                            background-color: transparent;
                            border: 0.5px solid rgba(0,0,0,0.1);
                            border-radius: 3px;
                            padding: 0 20px 0 9px;
                            outline: none;
                        }

                        .record__modify-data-value-remove {
                            .after-image(5px, 5px, '../images/remove-record-modify-value.svg');

                            right: 10px;
                            cursor: pointer;
                        }

                        .record__btn {
                            width: 48%;
                            font-size: 12px;
                            padding: 7px 0;
                        }
                    }

                    &.record__modify-data--type_select {
                        grid-column-start: 1;
                        grid-column-end: 3;

                        .record__modify-data-value {
                            position: relative;

                            &:after {
                                .after-image(5.7px, 2.88px, '../images/select-dropdown.svg');

                                right: 10px;
                            }
                        }
                    }

                    &.record__modify-data--type_tags {
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
                }
            }

            .record__buttons {
                text-align: center;

                .record__btn {
                    min-width: 120px;
                    font-size: 14px;
                    padding: 7px 14px;
                    margin-right: 5px;
                }

                &.record__buttons--one {
                    text-align: left;
                }
            }

            .record__btn {
                border-width: 1px;
                border-style: solid;
                box-sizing: border-box;
                line-height: normal;
                border-radius: 3px;
                outline: none;

                &.record__btn--decline,
                &.record__btn--publish {
                    color: #40c220;
                    border-color: #40c220;
                    background-color: transparent;
                }

                &.record__btn--accept {
                    color: #fff;
                    border-color: #40c220;
                    background-color:#40c220;
                }

                &.record__btn--open {
                    color: #fff;
                    border-color: #919191;
                    background-color: #919191;
                }

                &.record__btn--replace {
                    color: #919191;
                    border-color: #919191;
                    background-color:transparent;
                }

                &.record__btn--remove-from-publication {
                    color: #ff360e;
                    border-color: #ff360e;
                    background-color:transparent;
                }
            }
        }
    }
}

.tags {
    .tag {
        margin-bottom: 10px;
    }
}

.tag {
    position: relative;
    display: inline-block;
    line-height: normal;
    background-color: rgba(247,247,247,0.6);
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 7px 34px 7px 10px;

    .tag__value {
        font-size: 12px;
        line-height: normal;
        color: #99acba;
    }

    .tag__remove {
        .after-image(5px, 5px, '../images/remove-record-modify-value.svg');

        right: 10px;
    }
}

@media screen and (max-width: 1268px) {
    .container {
        &.container--admin {
            width: 100%;
        }
    }
}

@media screen and (max-width: 770px) {
    .header__logo {
        &.header__logo--mobile {
            display: block;

            img {
                height: 40px;
            }
        }
    }

    .sidebar {
        width: 201px;
        height: 100% !important;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        transform: translateX(100%);
        padding-top: 98px;
        transition: all 0.3s ease-in-out;

        .logo {
            display: none;
        }

        &.active {
            display: block;
            transform: translateX(0);
            transition: all 0.3s ease-in-out;

            +.overlay {
                display: block;
                opacity: 1;
            }
        }
    }

    nav {
        &.nav_orientation_vertical {    
            .nav__item_state_active:before {
                left: initial;
                right: 0;
            }
        }
    }

    .main {
        grid-template-columns: 100%;
    }

    .content {
        .content-box__search {
            width: 325px;
        }
    }

    .header__top {
        .nav-toggle-button {
            display: block;
            position: absolute;
            top: 50%;
            right: 12px;
            margin-top: -12px;
        }

        .dropdown-menu {
            display: none;
        }
    }
}

@media screen and (max-width: 320px) {
    .sidebar {
        width: 165px;
    }

    .nav {
        &.nav_orientation_vertical {
            .nav__item {
                padding: 0 21px;
            }
        }
    }

    .content {
        padding-left: 10px;
        padding-right: 10px;

        .content-box__heading {
            .content-box__search {
                margin-top: 23px;
            }

            .content-box__btn {
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .content-box__search {
            display: block;
            width: 100%;

            &.content-box__search--heading-search {
                margin-left: 0;
            }
        }
    }

    .assets {
        .assets__heading {
            .gridable(165px 1fr);
        }
    }

    .asset {
        .asset__content {
            .gridable(109px 1fr, 60px);
        }
    }
}